

use auxiliary/scanner/portscan/ack
set rhosts  10.0.2.15
set ports   1-300
set threads 10
run

use auxiliary/scanner/portscan/syn
set rhosts  10.0.2.15
set ports   1-300
set threads 10
run

use auxiliary/scanner/portscan/tcp
set rhosts  10.0.2.15
set ports   1-300
set threads 10
run

use auxiliary/scanner/portscan/xmas
set rhosts  10.0.2.15
set ports   1-300
set threads 10

run
